<h2 class="text-xl font-semibold">Log in to your account</h2>

<form class="flex flex-col gap-6 min-w-sm mt-6" [formGroup]="loginForm" (ngSubmit)="login()">
  <app-input [errorMessage]="getError('email')" formControlName="email" label="Email address" type="email" id="email"
             name="email"/>
  <app-input [errorMessage]="getError('password')" formControlName="password" label="Password" type="password"
             id="password" name="password"/>

  <app-button [loading]="isLoading()" type="submit" buttonClass="button-primary w-full">
    Log in
  </app-button>
  <a class="text-sm text-gray-500 hover:underline" routerLink="/register">Create an account</a>
</form>
