<section>
  <div class="container mx-auto px-4 py-6 flex flex-col gap-6">
    @if (isLoading()) {
      <div class="flex w-full justify-center">
        <app-loader/>
      </div>
    }

    @let currentPost = post();

    @if (currentPost) {
      <div class="flex gap-2 flex-wrap items-center">
        @for (category of currentPost.categories; track category.id) {
          <a class="px-2 py-1 text-xs font-medium rounded-full bg-primary text-white"
             [routerLink]="['/posts', 'categories', category.slug]">{{ category.name }}</a>
        }
      </div>

      <a [routerLink]="['/posts', 'users', currentPost.user!.id]"
         class="hover:text-black text-gray-500 text-sm">{{ currentPost.user!.name }}</a>

      <span class="text-gray-500 text-sm">{{ currentPost.createdAt | date: 'medium' }}</span>

      <h1 class="font-semibold text-xl">{{ currentPost.title }}</h1>

      <p>
        {{ currentPost.content }}
      </p>

      <div class="pt-6">
        <h2 class="font-semibold">Comments ({{ currentPost.commentsCount }})</h2>
        <div class="mt-4">
          <app-create-comment (commentCreated)="onCommentCreated()" [postId]="currentPost.id"/>
        </div>
        <div class="flex flex-col gap-4 mt-4">
          @for (comment of currentPost.comments; track comment.id) {
            <app-comment-card [comment]="comment" (commentDeleted)="onCommentDeleted()"/>
          }
        </div>
      </div>
    }
  </div>
</section>
