<section>
  <div class="container mx-auto px-4 py-6 flex flex-col gap-6">
    <h1 class="font-semibold text-xl">Velit aut fuga ipsam quas repellendus quia.</h1>

    <p>
      Et quos deleniti cum vero doloremque nisi explicabo. Cupiditate nam aut unde tenetur. Praesentium voluptatibus et
      magni autem optio corrupti. Minus fuga tempora et. Nihil laudantium consequatur voluptatem sed voluptatem.
      Aspernatur itaque laborum libero necessitatibus incidunt esse et beatae. Suscipit dicta repellat cupiditate est.
      Dolores libero iusto voluptatibus sit omnis aut. Neque a et dicta facere et architecto quasi. Deserunt voluptates
      dolores dignissimos unde. Ducimus aperiam aspernatur praesentium ex fuga nesciunt. Totam quas architecto magni aut
      iste soluta delectus. Odit repudiandae aliquid exercitationem quis eos eveniet sit est.
    </p>

    <div class="pt-6">
      <h2 class="font-semibold">Comments (1):</h2>
      <div class="flex flex-col gap-4 mt-4">
        <app-comment-card/>
        <app-comment-card/>
        <app-comment-card/>
      </div>
    </div>
  </div>
</section>
