<form class="flex flex-col gap-4 max-w-xl" [formGroup]="postForm" (ngSubmit)="save()">
  <app-input [errorMessage]="getError('title')" label="Title" name="title" placeholder="Title" formControlName="title"/>
  <app-textarea [errorMessage]="getError('content')" label="Content" name="content" placeholder="Content" formControlName="content"/>
  <app-multiple-select [errorMessage]="getError('categories')" [options]="categoryOptions" label="Categories" name="categories" formControlName="categories"/>

  {{ postForm.value | json }}
  <app-button [loading]="isLoading()" type="submit" buttonClass="button-primary text-sm">Save</app-button>
</form>
