<div
  class="relative flex flex-col rounded-xl border border-gray-400">
  <div class="p-5">
    <div class="mb-3 flex gap-2 flex-wrap items-center">
      <a class="px-2 py-1 text-xs font-medium rounded-full bg-primary text-white" href="#">Design</a>
    </div>

    <h5 class="mb-3 font-semibold text-gray-900">
      Website Review Check Update from Our Team in San Francisco
    </h5>
    <p class="text-sm text-gray-600 mb-4">
      The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to Naviglio where you can enjoy
      the main night life in Barcelona.
    </p>
    <div class="flex items-center justify-between text-xs text-gray-500 mb-4">
      <a href="#" class="hover:text-black">Sarah Johnson</a>
      <div class="flex items-center gap-3">
        <span>Oct 24, 2024</span>
        <div class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
          </svg>
          <span>12</span>
        </div>
      </div>
    </div>

    <a class="text-sm font-semibold underline underline-offset-4" href="#">Read more</a>
  </div>
</div>
