<div class="relative flex flex-col rounded-xl border border-gray-400 h-full">
  <div class="p-5 flex flex-col h-full">
    <div class="mb-3 flex gap-2 flex-wrap items-center">
      @for (category of post().categories; track category.id) {
        <a class="px-2 py-1 text-xs font-medium rounded-full bg-primary text-white"
           [routerLink]="['/posts', 'categories', category.slug]">{{ category.name }}</a>
      }
    </div>

    <h5 class="mb-3 font-semibold text-gray-900">
      {{ post().title }}
    </h5>
    <p class="text-sm text-gray-600 mb-4">
      {{ truncateContent(post().content) }}
    </p>
    <div class="flex items-center justify-between text-xs text-gray-500 mb-4">
      <a [routerLink]="['/posts', 'users', post().user!.id]" class="hover:text-black">{{ post().user!.name }}</a>
      <div class="flex items-center gap-3">
        <span>{{ post().createdAt | date }}</span>
        <div class="flex items-center gap-1">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
          </svg>
          <span>{{ post().commentsCount }}</span>
        </div>
      </div>
    </div>

    <div class="mt-auto">
      <a class="text-sm font-semibold underline underline-offset-4" [routerLink]="['/posts', post().id]">Read more</a>
    </div>
  </div>
</div>
