<section class="container mx-auto px-4 py-6">
  <div class="max-w-lg mx-auto">
    <div class="flex gap-2 items-end">
      <app-input (keydown.enter)="search()" [ngModel]="searchTerm()" (ngModelChange)="updateSearchTerm($event)" class="w-full" label="Search posts"
                 [placeholder]="'Search posts...'"/>
      <app-button (click)="search()" buttonClass="button-primary h-fit mt-auto text-sm">Search</app-button>
    </div>
  </div>

  @if (isLoading()) {
    <div class="flex w-full justify-center mt-4">
      <app-loader/>
    </div>
  } @else {
    @if (currentSearchQuery()) {
      <h1 class="font-semibold text-lg mt-4">Search results for: {{ currentSearchQuery() }}</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
        @for (post of posts(); track post.id) {
          <app-post-card [post]="post"/>
        } @empty {
          <p>No posts found</p>
        }
      </div>
    } @else {
      <p class="mt-4">Please enter a search term</p>
    }
  }
</section>
