<div class="relative flex flex-col rounded-xl border border-gray-400">
  <div class="p-5">
    <div class="flex items-center gap-4 text-xs mb-3">
      <span class="font-medium">{{ comment().user.name }}</span>
      <span>|</span>
      <span>{{ comment().createdAt | date: 'medium' }}</span>
    </div>

    <p class="text-sm">
      {{ comment().content }}
    </p>

    @if (comment().userId === userService.user()!.id) {
      <app-button (click)="deleteComment(comment().id)" [loading]="isDeleting()" buttonClass="text-xs hover:text-red-500 hover:cursor-pointer mt-3" title="Delete comment">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
        </svg>
      </app-button>
    }
  </div>
</div>
