<form class="flex flex-col gap-4" [formGroup]="updatePasswordForm" (ngSubmit)="save()">
  <app-input [errorMessage]="getError('current_password')" formControlName="current_password" type="password"
             label="Current password" name="current_password" placeholder="Current password"/>
  <app-input [errorMessage]="getError('new_password')" formControlName="new_password" type="password"
             label="New password" name="new_password" placeholder="New password"/>
  <app-input [errorMessage]="getError('new_password_confirmation')" formControlName="new_password_confirmation"
             type="password" label="Confirm password" name="confirm_password" placeholder="Confirm password"/>

  <app-button [loading]="isLoading()" type="submit" buttonClass="button-primary text-sm">Save password</app-button>
</form>
