<section class="container mx-auto px-4 py-6">
  <div class="max-w-xl flex flex-col gap-4">
    <div>
      <h1 class="text-xl font-semibold">Profile information</h1>
      <h2 class="text-gray-600 text-sm">Update your name and email address</h2>
    </div>
    <app-profile-information-form/>
  </div>

  <hr class="border-gray-200 border-t my-6"/>

  <div class="max-w-xl flex flex-col gap-4">
    <div>
      <h1 class="text-xl font-semibold">Update password</h1>
      <h2 class="text-gray-600 text-sm">Update your password</h2>
    </div>
    <app-update-password-form/>
  </div>

</section>
